
@{
    ViewBag.Title = "الطلبات";
    ViewBag.BaseTitle = "المعامل";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@section Styles{
    <style>
        .arch_header {
            margin-bottom: 30px;
        }

        .display-5 {
            font-size: 40px;
            padding-bottom: 10px;
        }

        .arch_details {
            margin: 0;
        }
    </style>
}
<div class="arch_header">
    <strong class="display-5" style="font-weight:400; display:block">أرشيف طلبات المرضى</strong>
    <p class="arch_details" style="font-weight:900">
        <i class="ion-alert-circled text-warning"></i>
        أرشيف لطلبات المرضى , المدير فقط  يمكنة حذف الطلبات
        <span class="text-danger">نهائياً.</span>
    </p>
    @*<p class="arch_details" style="font-weight:900">يمكن للمستخدم إسترجاع ملفات المريض. </p>*@
</div>
@section Scripts{
    <script>

        $(function () {
            $.ajax({
                url: "@Url.Action("Getlb_Requests","RequstsBackUp")",
                type: "GET",
                Data: {},
                success: function (response) {
                    $.each(response, function (k, v) {
                        $("#myTbody").append(`<tr id="row`+v.Id+`">
                                           <td>` + v.medicalNumber + `</td>
                                           <td>` + v.nationalId + `</td>
                                           <td>` + v.dateTime + `</td>
                                           <td>` + v.RemovedDate + `</td>
                                           <td>` + v.UserName + `</td>
                                           <td scope="col"><button class="btn btn-sm btn-danger" onclick="Delete(`+v.Id+`)"> حذف </button></td>
                                    </tr>`);
                    });
                }
            });

            $("#medicalNumberSearch").on("keyup", function() {
                var value = $(this).val();
                $("#myTbody tr").filter(function() {
                  $(this).toggle($(this).text().indexOf(value) > -1)
                });
            });

        });

        function Delete(Id) {
            alertify.confirm(" هل تم تنفيذ الطلب ؟ ", function (e) {
                if (e) {
                    $.ajax({
                         url: "/RequstsBackUp/DeleteBackUpRequests?id=" + Id,
                        type: "GET",
                        success: function (respose) {
                            $("#row" + Id).remove();
                            $.notify("تم الحذف بنجاح", "success");
                        }
                    });
                };
            });
        };



    </script>
}
<div class="pb-4">
    @Html.TextBox("medicalNumberSearch", "", new { @class = "form-control col-4 m-auto text-center", placeholder = "بحث بالرقم الطبي", type = "number" })

</div>
<table id="myTable" class="table .thead-light text-center col-8 m-auto">
    <thead>
        <tr>
            <th scope="col">الرقم الطبي</th>
            <th scope="col">الرقم القومي</th>
            <th scope="col">الوقت / التاريخ</th>
            <th scope="col"> الوقت / التاريخ الحذف</th>
            <th scope="col"> الحاذف</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTbody" class="text-center">
    </tbody>
</table>
